<h1>Listing gameingredients</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Ingredient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gameingredients.each do |gameingredient| %>
  <tr>
    <td><%= gameingredient.game_id %></td>
    <td><%= gameingredient.ingredient_id %></td>
    <td><%= link_to 'Show', gameingredient %></td>
    <td><%= link_to 'Edit', edit_gameingredient_path(gameingredient) %></td>
    <td><%= link_to 'Destroy', gameingredient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gameingredient', new_gameingredient_path %>
