<h1>Listing games</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Shortdescription</th>
    <th>Fulldescription</th>
    <th>Players</th>
    <th>Source</th>
    <th>Complexity</th>
    <th>Rowdiness</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% counter = 0 %>

<% @games.each do |game| %>
  <% counter += 1 %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.shortdescription %></td>
    <td><%= game.fulldescription %></td>
    <td><%= game.players %></td>
    <td><%= game.source_id %></td>
    <td><%= game.complexity %></td>
    <td><%= game.rowdiness %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<P><STRONG style="font-size: 48px;"><%= counter %></STRONG> goddamn games. Dope.</P>
<%= link_to 'New Game', new_game_path %>
