<DIV id="header">
	<A HREF="javascript:history.go(-1)" style="display: block; float:left;"><IMG src="../images/backbutton.png" class="back" border="0"></a>

	</DIV>
<DIV id="details">
	<p id="notice"><%= notice %></p>
	
	<h3><%= @game.name %></h3>

<%= simple_format(@game.fulldescription) %>

<p>
  <b>Players:</b>
  <%= @game.players %>
</p>

<p>
  <b>Source:</b>
  <%= @game.source_id %>
</p>

<p>
  <b>Complexity:</b>
  <%= @game.complexity %>
</p>

<p>
  <b>Rowdiness:</b>
  <%= @game.rowdiness %>
</p>

<% unless @ruleid == 0 %>
<p><div id="random_rule"></div>
<a onclick='$("#random_rule").load("../../ingredients/<%= @ruleid %>/random_rule/");'>BOOST RULE</a></p>
<% end %>
</div>