<%= form_for(@gamelocation) do |f| %>
  <% if @gamelocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gamelocation.errors.count, "error") %> prohibited this gamelocation from being saved:</h2>

      <ul>
      <% @gamelocation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
