<h1>Listing gamelocations</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gamelocations.each do |gamelocation| %>
  <tr>
    <td><%= gamelocation.game_id %></td>
    <td><%= gamelocation.location_id %></td>
    <td><%= link_to 'Show', gamelocation %></td>
    <td><%= link_to 'Edit', edit_gamelocation_path(gamelocation) %></td>
    <td><%= link_to 'Destroy', gamelocation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gamelocation', new_gamelocation_path %>
