<%= form_tag("/list", :method => "get") do %>

<h3>Location</h3>
  <%= render 'locations' %>
<BR style="clear:both;">
<h3>Ingredients</h3>
	  <%= render 'ingredients' %><BR style="clear:both;">

<H3>What are you looking to do?</h3>
  <%= render 'rowdiness' %>
<BR style="clear:both;"><BR>
	
<div class="actions">
<%= submit_tag("Find Game") %>
</div><BR>
<% end%>