<div id="rowdiness">
	<label class="rowdiness" id="rowdy1">
		<%= radio_button_tag :rowdiness, 1 %><BR>
		<%= label_tag :rowdiness, "Icebreaker", :value => 1 %>
	</label>
	<label class="rowdiness" id="rowdy2">
		<%= radio_button_tag :rowdiness, 2 %><BR>
		<%= label_tag :rowdiness, "Have Fun", :value => 2 %>
	</label>
	<label class="rowdiness" id="rowdy3">
		<%= radio_button_tag :rowdiness, 3 %><BR>
		<%= label_tag :rowdiness, "Get Drunk", :value => 3 %>
	</label>
</div>