<p id="notice"><%= notice %></p>

<p>
  <b>Ingredient:</b>
  <%= @rule.ingredient_id %>
</p>

<p>
  <b>Explanation:</b>
  <%= @rule.explanation %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
